<div class="logo">
  <h1>Timetracker</h1>
</div>

<% if current_user %>
<ul class="custom-nav nav nav-pills">
  <li class="nav-item <%= active?(root_path)%>">
    <%= link_to "Home", root_path , class:"nav-link" %>
  </li>
  <li class="nav-item <%= active?(posts_path)%>">
    <%= link_to "Time Entries", posts_path , class:"nav-link "%>
  </li>
  <%= render 'shared/audit_log_tab' if policy(AuditLog).index? %>

  <li class="nav-item <%= active?(posts_path)%>">
    <%= link_to "Request Overtime", new_post_path , class:"nav-link" , id:"new_post_from_nav"%>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
    <div class="dropdown-menu">
      <%= link_to "Admin Dashboard", admin_root_path, class:"dropdown-item" if current_user.try(:type) == 'AdminUser'%>
      <%= link_to "Logout", destroy_user_session_path , class:"dropdown-item", method: :delete %>
    </div>
  </li>

</ul>

<% end %>
