<div class="">
  <h2><%= @post.work_performed %></h2>
</div>
<div class="card">
  <div class="">
    <h4> <span>Employee: <%= @post.user.full_name %> </span></h4>
  </div>
  <div class="">
    <h4> <span>Work Performed: <%= @post.daily_hours %> </span></h4>
  </div>
  <div class="">
    <h4> <span>Date: <%= @post.date %> </span></h4>
  </div>
  <div class="">
    <h4> <span>Current Stage of Approval: <%= @post.status.titleize %> </span></h4>
  </div>
</div>

<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" if policy(@post).update?%>
